.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 24px 156px;
    margin: 0;
}

.gallery-item {
    width: calc((100% - 24px * 2) / 3);
    box-sizing: border-box;

}

.gallery-image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;

}