.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 34px 156px;
    margin: 0;
}

.gallery-item {
    width: calc((100% - 24px * 2) / 3);
    box-sizing: border-box;

}

.gallery-image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;

}
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(192, 16, 16);
    padding: 6px 4px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.btn:hover {
    background-color: rgb(135, 30, 30);
}
