.feedback-form {
    display: flex;
        flex-direction: column;
        margin-top: 0em;
        width: 408px;
        gap: 8px;
        padding: 24px;
}
button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    border: none;      
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    background: rgb(18, 77, 215);
}

.btn {
        text-decoration: none;
        background-color: rgb(192, 16, 16);
        padding: 10px 15px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        font-size: 16px;
        width: 100px;
        margin-left: 30px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    }

    .btn:hover {
        background-color: rgb(135, 30, 30);
        border-width: 1.2px;

    }
.feedback-form input,
.feedback-form textarea {
    border: 1px solid #6d707c;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}  
.feedback-form textarea {
    resize: none;
    height: 80px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
        border: 1px solid #4e75ff;
     }

.feedback-form input:focus,
.feedback-form textarea:focus {
        border: 1.5px solid #20316d;
    }

 label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #2e2f42;
    line-height: 150%;
   
}
label:hover {
     color: brown;
     font-size: 16.5; 
}
