.feedback-form {
    display: flex;
        flex-direction: column;
        margin-top: 0em;
        width: 408px;
        gap: 8px;
        padding: 24px;
}
button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    border: none;      

}

button:hover {
    background: rgb(18, 77, 215);
}

.btn {
        text-decoration: none;
        background-color: rgb(114, 30, 30);
        padding: 10px 15px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        font-size: 16px;
        width: 100px;
        margin: 0 auto;
    }

    .btn:hover {
        background-color: rgb(135, 30, 30);
    }

/* .input {
border: 1.2px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}
.textarea {
    border: 1.2px solid #808080;
        border-radius: 4px;
        width: 360px;
        height: 80px;
} */

 label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #2e2f42;
    line-height: 150%;
    letter-spacing: 0.04em; 
}